<!-- About Section -->
<section class="success top-head-bonplan" id="bons-plans">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Les sacrées astuces de la Baracas</h1>
        <hr class="star-light">
        <span>Retrouvez ci-dessous des astuces astucieuses !</span>
      </div>
    </div>
  </div>
</section>

<section id="list-bon-plan">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <blockquote style="background-color: burlywood;">
        <p>Préambule : 
          <br>- utilisez un bloqueur de pub sur votre navigateur (cherchez <i>UblockOrigin</i> et installez-le)
          <br>- ou utilisez un navigateur avec bloqueur intégré (<i><a href="https://laptop-updates.brave.com/download/BRV002">Brave</a></i> par exemple)
        </p>
        </blockquote>
      </div>
      <div class="col-12">
        <div class="page-header">
          <h2>Streaming pour se divertir les yeux</h2>
        </div>
        <div style="padding-left: 1rem;">
          <ul class="list-group">
            <li class="list-group-item"><b><i>Liens :</i></b></li>
            <li class="list-group-item"><a href="https://xalaflix.fr/r%C3%A9pertoire.html" target="_blank">Xalaf***</a></li>
            <li class="list-group-item"><a href="https://ww1.wiflix-adresses.fun/" target="_blank">Wif***</a></li>
            <li class="list-group-item"><a href="https://fstream.net/" target="_blank">FrenchS****</a></li>
            <li class="list-group-item">---------- ↧ Ressources ↧ ----------</li>
            <li class="list-group-item"><a href="https://fmhy.net/non-english#streaming" target="_blank">FMHY.net = trouver d'autres ressources</a></li>
            <li class="list-group-item"><a href="https://www.haloule.com/2025/02/gement-streaming-films-series-animes.html" target="_blank">Haloule = Liens mises à jour</a></li>
        </div>
      </div>

      <div class="col-12">
        <div class="page-header">
        <h2>Des applis premiums pour Android</h2>
        </div>
        <div style="padding-left: 1rem;">
          <ul class="list-group">
            <li class="list-group-item"><b><i>Liens :</i></b></li>
            <li class="list-group-item"><a  target="_blank" href="https://an1.com/">an1</a></li>
            <li class="list-group-item"><a  target="_blank" href="https://pdalife.com/">PDALife</a></li>
            <li class="list-group-item">---------- ↧ Ressources ↧ ----------</li>
            <li class="list-group-item"><a  target="_blank" href="https://fmhy.net/mobile#modded-apks">FMHY.net</a></li>
            <li class="list-group-item"><a  target="_blank" href="https://www.haloule.com/search/label/android">Haloule</a></li>
        </div>
      </div>

      <div class="col-12">
        <div class="page-header">
        <h2>Musiques MP3 et FLAC - Nicotine+ la référence</h2>
        </div>
        <div style="padding-left: 1rem;">
          <ul class="list-group">
            <li class="list-group-item"><b><i>Liens :</i></b></li>
            <li class="list-group-item"><a  target="_blank" href="https://github.com/nicotine-plus/nicotine-plus/releases/latest/download/windows-x86_64-installer.zip">Pour Windows</a></li>
            <li class="list-group-item"><a  target="_blank" href="https://github.com/nicotine-plus/nicotine-plus/releases/latest/download/macos-x86_64-installer.zip">Pour Mac</a></li>
            <li class="list-group-item">---------- ↧ Ressources ↧ ----------</li>
            <li class="list-group-item"><a href="/img/tuto-nicotine.pdf" target="_blank">Ptit tuto en PDF</a></li>
        </div>
      </div>

    </div>
  </div>
</section>


