<!-- About Section -->
<section class="success top-head-bonplan" id="bons-plans">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Les bons plans de la Baracas</h1>
        <hr class="star-light">
        <span>Retrouvez ci-dessous les bons plans que nous avons pu trouver !</span>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Achats groupés bi-annuels - La Fourmilière
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              La fourmilière est une association groupement d’achat basée autour de Tulle et basse Corrèze.
              <br>
              La démarche : une consommation militante !
              <br>
              Une association locale qui permet d'acheter des produits responsables 2 fois dans l'année avec des prix réduits grace à l'achat groupé !
              <br>
              En apprendre plus en cliquant ici : <a href="https://lafourmiliere19.org/accueil/" target="_blank">lafourmiliere19.org</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Les ressourceries du coin - Aux pas perdus
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              La ressourcerie Aux pas perdus, à Uzerche, en Corrèze, récupère tous les d’objets du quotidien, ou presque. Certains de ces objets sont ensuite revendus à des prix abordables.
              <br>
              Rendez-vous sur leur page facebook : <a href="https://www.facebook.com/auxpasperdus.fr/" target="_blank">Aux Pas Perdus</a> ou sur leur site internet : <a href="https://auxpasperdus.fr/" target="_blank">auxpasperdus.fr/</a> pour + d'infos !
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                Achat de produits neufs => comparé avant d'acheter
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              Parfois, nous sommes obligés d'acheter des produits neufs et avant de se lancer il est important d'obtenir des avis pertinents et des prix corrects...
              <br><br>
              Pour cela, deux options :
              <br> - Trouver le meilleur prix et des commentaires souvent pertinents :<a href="https://www.dealabs.com" target="_blank">Dealabs</a>
              <br> - Comparer pour trouver le meilleur prix (on oublie pas d'essayer d'éviter les Amazon & co) ! => <a href="https://www.idealo.fr/" target="_blank">Idealo</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Trouver des astuces pour profiter de contenus divers et variés sur internet 😉
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Renez-vous sur <a href="https://www.haloule.com/" target="_blank">Haloule.com</a> !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="container">
    <div class="row">
<section class="accordion" id="overview">
  <h1 class="title"><a href="#overview">Overview</a></h1>
  <div class="content">
    <div class="wrapper">
      <p>
        This CodePen demonstrates how we can animate the opening and closing
        states of an accordion with fancy reveal animation using only CSS. This
        concept is suitable for creating <strong>FAQ sections</strong>,
        <strong>Table of Contents</strong>, and more.
      </p>
    </div>
  </div>
</section>

<section class="accordion" id="how-does-it-work">
  <h1 class="title"><a href="#how-does-it-work">How does it work?</a></h1>
  <div class="content">
    <div class="wrapper">
      <p>
        We cannot transition height or any CSS property from zero to auto. If we
        want to smoothly expand a collapsed accordion, we could set a
        <code>max-height</code> and transition the <code>height</code> property
        to a large value when we expand the section. However,
        <a href="https://css-tricks.com/using-css-transitions-auto-dimensions/#aa-there-are-two-crucial-downsides-to-this" target="_blank">it may not properly work</a>
        if the content is larger than the <code>max-height</code>.
      </p>
      <p>
        So, here we create a CSS grid with a grid item. Then we transition the
        <code>grid-template-rows</code> property from <code>0fr</code> to
        <code>1fr</code> and the grid item transitions to its content height.
      </p>
      <p>
        I used CSS <code>clip-path</code> and <code>mix-blend-mode</code> to
        animate the background and text color of the accordion. Each accordion
        has two pseudo-elements. We know that <code>opacity</code>,
        <code>clip-path</code> and, <code>visibility</code> are animatable CSS
        properties. So when the accordion is selected using the
        <code>:target</code> pseudo-class, we transition the clip-path circle
        radius to 200% of the
        <code>::before</code>
        pseudo-element. When the accordion is not selected, we do the same with
        the
        <code>::after</code> but this time with a delay. This creates an
        illusion as it appears to clip from inside.
      </p>
      <p>
        Since the accordion's title is an anchor element, users can also
        navigate through the items with their keyboard.
      </p>
    </div>
  </div>
</section>

<section class="accordion" id="inspiration">
  <h1 class="title"><a href="#inspiration">Inspiration</a></h1>
  <div class="content">
    <div class="wrapper">
      <p>
        In a recent video, Kevin showed us a way to animate height from zero to
        auto value. Seeing that, I couldn't resist experimenting with the idea.
        Then I came up with this CSS-only accordion component and added the
        reveal animation too!
      </p>
      <p>
        I would highly recommend watching
        <a href="https://youtu.be/B_n4YONte5A" target="_blank">his video</a>,
        where he beautifully explains the technique and points out how he
        discovered it. Also, read
        <a href="https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/" target="_blank">Keith J. Grant's post</a>
        and
        <a href="https://nemzes.net/posts/animating-height-auto/" target="_blank">Nelson Menezes's post</a>
        on the same topic.
      </p>
    </div>
  </div>
</section>
</div>
</div>
</section>