<!-- About Section -->
<section class="success top-head-bonplan" id="bons-plans">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Les bons plans de la Baracas</h1>
        <hr class="star-light">
        <span>Retrouvez ci-dessous les bons plans que nous avons pu trouver !</span>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Achats groupés bi-annuels - La Fourmilière
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              La fourmilière est une association groupement d’achat basée autour de Tulle et basse Corrèze.
              <br>
              La démarche : une consommation militante !
              <br>
              Une association locale qui permet d'acheter des produits responsables 2 fois dans l'année avec des prix réduits grace à l'achat groupé !
              <br>
              En apprendre plus en cliquant ici : <a href="https://lafourmiliere19.org/accueil/" target="_blank">lafourmiliere19.org</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Les ressourceries du coin - Aux pas perdus
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              La ressourcerie Aux pas perdus, à Uzerche, en Corrèze, récupère tous les d’objets du quotidien, ou presque. Certains de ces objets sont ensuite revendus à des prix abordables.
              <br>
              Rendez-vous sur leur page facebook : <a href="https://www.facebook.com/auxpasperdus.fr/" target="_blank">Aux Pas Perdus</a> ou sur leur site internet : <a href="https://auxpasperdus.fr/" target="_blank">auxpasperdus.fr/</a> pour + d'infos !
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Achat de produits neufs => comparé avant d'acheter
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              Parfois, nous sommes obligés d'acheter des produits neufs et avant de se lancer il est important d'obtenir des avis pertinents et des prix corrects...
              <br><br>
              Pour cela, deux options :
              <br> - Trouver le meilleur prix et des commentaires souvent pertinents :<a href="https://www.dealabs.com" target="_blank">Dealabs</a>
              <br> - Comparer pour trouver le meilleur prix (on oublie pas d'essayer d'éviter les Amazon & co) ! => <a href="https://www.idealo.fr/" target="_blank">Idealo</a>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Trouver des astuces pour profiter de contenus divers et variés sur internet
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              Renez-vous sur <a href="https://www.haloule.com/" target="_blank">Haloule.com</a> !
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>