<!-- agenda Grid Section -->
<section id="quoi-a-venir">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Y a quoi à venir ?</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="actu">
      {% for post in site.posts.categories.nouvelles %}
        <img src="img/portfolio/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}">
        <h2>{{ post.titre }}</h2>
        <p>{{ post.description }}</p>
      {% endfor %}
    </div>
  </div>
</section>
