<!-- agenda Grid Section -->
<section id="quoi-a-venir">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Y a quoi à venir ?</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="actu">
      <img src="img/Fete-baracas-2025.jpg" alt="Affiche fete baracas">
      <h2>Fete de la baracas - 16 Mars 2025</h2>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum provident facere animi libero totam accusamus nobis, non commodi, aut saepe, odio quisquam ratione necessitatibus quidem sequi dicta corporis neque similique.</p>
    </div>
  </div>
</section>
